<div class="container-fluid">
    <div class="row" id="midSection">
        <div class="col-2" id="leftContainer"></div>
        <div class="col-8" id="centerContainer">
            <div class="container" id="customerForm">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <h2 class="blockquote">Welcome to Customer portfolio !</h2>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
        <div class="col-2" id="rightContainer"></div>
    </div>
</div>