<div id="contnt"> <!--style="margin-top:60px;">-->
    <!-- <app-customer-details></app-customer-details> -->
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/customers']">Normal Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/httpCustomers']">Premium Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/orders']">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/analysis']">Analytics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contactUs']">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/logout']">Logout</a>
      </li>
    </ul>
  </div>
  
 