<app-nav></app-nav>
    <div class="container-fluid">
    <div class="row" id="midSection">
        <div class="col-2" id="leftContainer"></div>
        <div class="col-8" id="centerContainer">
            <div class="container" id="customerForm">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div *ngIf="isInvalid" id="error">Validation Error!</div>
                        <form ngForm>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name"
                                    [(ngModel)]="model.custName" name="name" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid city.
                                      </div>
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address"
                                    [(ngModel)]="model.address" name="address" required="true">
                            </div> 
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="number"  class="form-control" id="age"
                                    [(ngModel)]="model.age" name="age" required="true">
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone Number</label>
                                <input type="number" class="form-control" id="phoneNumber"
                                    [(ngModel)]="model.phoneNumber" name="phoneNumber" required="true">
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" id="submitBtn" class="btn btn-primary" (click)="createNewCustomers()">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            <div class="container" id="customerList">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <table class="table table-hover align-middle" id="table">
                            <thead>
                                <tr>
                                    <th>Customer name</th>
                                    <th>Address</th>
                                    <th>Age</th>
                                    <th>Phone number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cust of custArr">
                                    <td>{{cust.custName | lowercase}}</td>
                                    <td>{{cust.address | lowercase}}</td>
                                    <td>{{cust.age | testPipe:2}}</td>
                                    <td>{{cust.phoneNumber}}</td>
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                                        <button type="button" class="btn btn-outline-dark" (click)="editTrigger(cust.custId)">Edit</button>
                                        <button type="button" class="btn btn-outline-dark" (click)="deleteTrigger(cust.custId)">Delete</button>
                                      </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<button type="button" class="btn btn-outline-dark" [routerLink]="http/customers">Http View</button>
                    <a [routerLink]="'/http-customers'">Contacts</a>
                    <router-outlet></router-outlet>
                    -->
                    <hr style="border-top: dotted 1px;" />
                    <!--<app-http-customer-details></app-http-customer-details>-->
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
        <div class="col-2" id="rightContainer"></div>
    </div>
    <!--
    <div class="row" id="footer">
        <div class="col-2" id="footerSection1"></div>
        <div class="col-10" id="footerSection2">@Copyright 2022</div>
    </div>
    -->
</div>