
#container {
    margin-top: 100px;
}
#loginForm {
    padding-top: 50px;
}
#header {
    height: 50px;
}
#headerSection1 {
    background-color: rgb(220, 243, 255);
}
#headerSection2 {
    background-color: rgba(198, 235, 250, 0.822);
    padding: 0;
}
#footer {
    height: 35px;
}
#footerSection1 {
    background-color: rgb(220, 243, 255);
}
#footerSection2 {
    background-color: rgba(198, 235, 250, 0.822);
}

#midSection {
    height: 395px;
}
#leftContainer {
    background-color:aliceblue;
}
#centerContainer {
    background-color: rgb(220, 245, 248);
}
#customerForm {
    height: 315px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
#customerList {
    height: 275px;
    margin-bottom: 300px;
}
#table {
    height: 200px;
}
#rightContainer {
    background-color: aliceblue;
}
#submitBtn {
    margin: 10px;

}
#error {
    color: crimson;
    font-style: italic;
    text-align: center;
}